.row.col
    .ui-widget
        label(for="skills-field") Skills
        input(id="skills-field" type="text" class="form-control")
    div(class="ui-widget" style="margin-top:2em; font-family:Arial")
        div(id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content")


