.row.col
    div(class="skills-preview")
        div(id="log")
    .ui-widget
        label(for="skills-field") Skills
        input(id="skills-field" type="text" class="form-control")
.row.col
    button(class="btn btn-info btn-block margin-20" type="submit" id="save-resume-btn") Add Skills



