extends layout

mixin resume-field(fieldName, id)
    div(id="accordion" role="tablist" aria-multiselectable="true")
        .card
            div(class="card-header" role="tab" id="headingOne")
                h5(class="mb-0 collapsed resume-field" data-toggle="collapse" data-parent="#accordion" href="#field"+id aria-expanded="true" aria-controls="collapseOne")
                    a=fieldName

            div(id="field"+id class="collapse" role="tabpanel" aria-labelledby="headingOne")
                .card-block
                    block

block content
    .container
        .row.header
            .col
                h1 Resume Builder
        .row
            .col
                h2 Welcome back #{firstName}
                h3 While you're applying let us do the typing!
        .row.resume-view
            .col
                +resume-field("+ Contact Information", "contact")
                    include includes/contact.pug
                +resume-field("+ Education", "education")
                    include includes/education.pug
                +resume-field("+ Experience", "experience")
                    Add a job
                +resume-field("+ Skills", "skills")
                    include includes/skills.pug
                +resume-field("+ Objective", "objective")
                    Some objective
                +resume-field("+ References", "references")
                    Reference
                +resume-field("+ Other Information", "other")
                    Other
                button(class="btn btn-primary btn-block" type="submit" id="save-resume-btn") Save Resume
            .col.resume-preview
