$color-blue: #399fd3
$color-dark-blue: #004b6a
$color-light-gray: #e5e5e5
$white: #fff

html
  font-size: 62.5% //Reset for 1rem = 10px

body
  padding: 0 5rem
  font-size: 1.4rem
  .margin-20
    margin-top: 2rem

.hidden
  display: none

a
  color: #00B7FF


.container
  margin-top: 2rem

.skills-preview
  padding: 1rem
  width: 100%
  margin-bottom: 2rem
  span
    margin-right: 1rem

.resume-view
  margin-top: 2rem

  .resume-preview
    border: .2rem solid $color-light-gray
    height: 40rem

  .resume-field
    cursor: pointer

  #save-resume-btn
    margin-top: 2rem