$color-blue: #399fd3
$color-dark-blue: #004b6a
$color-light-gray: #e5e5e5
$white: #fff

body
  padding: 0 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.header
  background-color: $color-blue
  height: 200px
  color: $white
  text-align: center

  div
    position: relative
    top: 50%
    transform: translateY(-50%)
    font-size: 4.8rem

.profile
  max-width: 60rem

